<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h1>Novo parceiro</h1>
    Nome: <%= @partner.name rescue nil %> <br/>
    CPN / CNPJ : <%= @partner.federal_registration rescue nil %> <br/>
    RG / IE: <%= @partner.state_registration rescue nil %> <br/>
    Agencia: <%= @partner.agency rescue nil %> <br/>
    Conta: <%= @partner.account rescue nil %> <br/>
    Favorecido: <%= @partner.favored rescue nil %> <br/>
    CPN / CNPJ do favorecido: <%= @partner.favored_federal_registration rescue nil %> <br/>
    Banco: <%= @partner.bank&.name rescue nil %> <br/>
    Ocupaçaão: <%= @partner.ocupation rescue nil %> <br/>
    Tipo: <%= @partner.kind rescue nil %> <br/>
    Site: <%= @partner.site rescue nil %> <br/>
    CAU / ABD: <%= @partner.register rescue nil %> <br/>
    Endereço: <%= "#{@partner.addresses.first.street}, #{@partner.addresses.first.number}, #{@partner.addresses.first.zipcode}, #{@partner.addresses.first.city.name}, , #{@partner.addresses.first.city.state.acronym}" rescue nil %> <br/>
    Telefone: <%= @partner.primary_phone.phone rescue nil %> <br/>
    Email: <%= @partner.primary_email.email rescue nil %> <br/>
  </body>
</html>
