<!DOCTYPE html>
<html lang="pt-BR" style="margin: 0;padding: 0;background-color:#ffffff;">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body style="margin: 0;padding: 0;font-family: 'Lato', Arial, Helvetica, sans-serif;">
    
    <table style="width: 600px; margin-left: auto; margin-right: auto;border-spacing: 0px;" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
            <tr>
                <td>
                    <img src="https://hubcoapp-images.s3-sa-east-1.amazonaws.com/pb/emails/indicacao-v1.jpg" style="width: 600px; height: 272px; display: block;outline: 0; border: 0;">
                </td>
            </tr>
            <tr>
                <td style="padding: 25px 65px 50px 85px;">
                    
                    <p style="font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.2;color: #000000;">
                        Olá, <strong><%= @partner_name %></strong>
                    </p>
                    
                    <p style="font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.2;color: #000000;">
                        <strong><%= @client[:name] %></strong> te enviou uma mensagem.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 0px 65px 30px 85px;">
                    <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="width: 30%;padding-bottom: 20px;vertical-align:top;"><strong>E-mail:</strong></td>
                                <td style="width: 70%;padding-bottom: 20px;vertical-align:top;"><%= @client[:email] %></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;padding-bottom: 20px;vertical-align:top;"><strong>Assunto:</strong></td>
                                <td style="width: 70%;padding-bottom: 20px;vertical-align:top;"><%= @client[:subject] %></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;vertical-align:top;"><strong>Mensagem:</strong></td>
                                <td style="width: 70%;vertical-align:top;"><%= @client[:message] %></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 25px 65px 50px 85px;">
                    
                    <p style="font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.2;color: #000000;">
                        Por favor, não responda este e-mail, caso precise de mais informacões você pode entrar em contato conosco através de nossas centrais de relacionamento pelo telefone <strong>(11) 3031-6891</strong> ou pelo e-mail <a href="mailto:relacionamento@lojaobrafacil.com.br" style="color#0b4167; text-decoration: none;">relacionamento@lojaobrafacil.com.br</a>.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="https://hubcoapp-images.s3-sa-east-1.amazonaws.com/pb/emails/footer.jpg" style="width: 600px; height: 165px; display: block;outline: 0; border: 0;">
                </td>
            </tr>
        </tbody>
        
  
        
        
        
       
    </table>
    
</body>
</html>
