<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h1><%= @partner.description %></h1>
    Nome: <%= @partner.name %> <br/>
    Site: <%= @partner.site %> <br/>
    Telefone: <%= @partner.phones.first.phone %> <br/>
    Email: <%= @partner.emails.first.email %> <br/>
  </body>
</html>
